@import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}
#clock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#hrDots,
#minDots,
#secDots
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#hrDots::before,
#minDots::before,
#secDots::before {
  content: '';
  position: absolute;
  inset: -20px;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
  10px 10px 70px rgba(0,0,0,0.25),
  inset 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255,255,255,0.2),
  inset -5px -5px 15px rgba(0,0,0,0.75);
}

#hrDots h2,
#minDots h2,
#secDots h2 {
  position: absolute;
  text-align: center;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4em;
  font-weight: 500;
  color: var(--clr);
}

#hrDots h2 span,
#minDots h2 span,
#secDots h2 span {
  position: absolute;
  font-size: 0.25em;
  font-weight: 500;
  bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#secDots b {
  position: absolute;
  color: #fff;
  display: inline-flex;
  transform: translate(150px, 90px);
}

.secDots .dot {
  content: '';
  position: absolute;
  top: 50%;
  width: 10px;
  background: var(--clr);
  transform-origin: 100px;
}

#secDots .active.dot {
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
  0 0 20px var(--clr),
  0 0 20px var(--clr);
}