@import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #2c2f40;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner::before {
  content: attr(data-text);
  position: absolute;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12em;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 1;
}
.banner::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12em;
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  z-index: 2;
  clip-path: circle(0px at var(--x) var(--y));
  transition: clip-path 0.1;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner:hover::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12em;
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  z-index: 2;
  clip-path: circle(250px at var(--x) var(--y));
  transition: clip-path 0.1;
  background: url("./images/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}