* {
    box-sizing: border-box;
}

:root {
    --bg: hsl(0 0% 6%);
    --fg: hsl(0 0% 90%);
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    align-content: center;
    gap: 1rem;
    background-color: var(--bg);
}

button {
    --button-bg: var(--bg);
    --button-fg: var(--fg);
    --hover-bg: var(--fg);
    color: var(--button-fg);
    padding: 1rem 2rem;
    border-radius: 100px;
    border: 2px solid var(--button-fg);
    background: var(--button-bg);
    cursor: pointer;
    touch-action: none;
    position: relative;
    overflow: hidden;
}

button:nth-of-type(2) {
    --button-bg: var(--fg);
    --hover-bg: var(--fg);
    color: var(--bg);
}

  button .back {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: 100px;
  }

  .back > span {
    left: calc(var(--x, 0) * 1px);
    top: calc(var(--y, 0) * 1px);
    width: 50%;
    display: inline-block;
    aspect-ratio: 1;
    background: red;
    transform: translate(-50%, -50%) scale(var(--active, 0));
    transition: transform 0.25s;
    background: var(--hover-bg);
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    mix-blend-mode: difference;
    border-radius: 50%;
  }
  
  button:is(:hover, :focus-visible) {
    --active: 1.5;
  }
  
  button:active {
    --active: 3;
  }
  
  button:active .back > span {
    transition: transform 0.15s;
  }
  
  @supports (transition-timing-function: linear(0, 1)) {
    button:is(:hover, :focus-visible) .back > span {
      transition-duration: 0.5s;
      transition-timing-function: linear(
        0, 0.5007 7.21%, 0.7803 12.29%,
        0.8883 14.93%, 0.9724 17.63%,
        1.0343 20.44%, 1.0754 23.44%,
        1.0898 25.22%, 1.0984 27.11%,
        1.1014 29.15%, 1.0989 31.4%,
        1.0854 35.23%, 1.0196 48.86%,
        1.0043 54.06%, 0.9956 59.6%,
        0.9925 68.11%, 1
      );
    }
  }